@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-scrollbar";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  /* Colors */
  --color-primary: #131424;
  --color-secondary: #393a47;
  --color-accent: #f13024;

  /* Background images */
  --background-image-explosion: url("/assets/bg-explosion.png");
  --background-image-circles: url("/assets/bg-circles.png");
  --background-image-circle-star: url("/assets/circle-star.svg");
  --background-image-site: url("/assets/site-bg.svg");

  /* Animations */
  --animate-spin-slow: spin 6s linear infinite;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;

  /* Container */
  --container-padding: 15px;
}

/* === Global Styles === */
body {
  @apply w-full h-screen overflow-hidden relative font-poppins bg-site bg-no-repeat bg-cover bg-center text-white leading-relaxed;
}

.container {
  @apply px-[15px] mx-auto max-w-300 h-full;
}

.h1 {
  @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
}

.h2 {
  @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
}

p {
  @apply leading-[1.8] text-white/60 font-light;
}

.btn,
.input {
  @apply h-13;
}

.input {
  @apply w-full h-13 rounded-lg pl-6;
}

.input,
.textarea {
  @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
}

.textarea {
  @apply w-full h-45 p-6 rounded-lg resize-none;
}

.translate-z-0 {
  transform: translateZ(0px);
}

/* Swiper custom styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}
